.AccountSelect {
    position: absolute;
    top: 40px;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

:global .AccountSelect-root {
    display: inline-block;
    margin-bottom: 14px;
}

:global .AccountSelect-placeholder {
    font-size: 35px;
    display: inline-block;
    margin-right: 10px;
}

:global .AccountSelect-placeholder svg {
    display: none;
}

:global .AccountSelect-control {
    display: inline-block;
}

:global .AccountSelect-arrow {
    content: url(./arrow-dropdown.svg);
    position: relative;
    top: -5px;
}

:global .AccountSelect-menu {
    position: absolute;
    min-width: 130px;
    left: -10px;
    background: white;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, .08), 0 0.5rem 0.75rem rgba(0, 0, 0, .14);
    z-index: 2;
}

:global .AccountSelect-option {
    padding: 5px 10px;
    font-size: 25px;
    cursor: pointer;
}

:global .AccountSelect-option:hover {
    background: #d2e8ff
}

:global .AccountSelect-option.is-selected {
    font-weight: 500;
}

